.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

[ng-cloak] {
    display: none;
}

body {
    background-color: #FFFFFF;
}

.main {
    margin-top: 50px;
}


